<div class="container">
  <div class="row">
    <div class="col-sm-2">
      <div class="col-sm-1">
        <p class="text-center votes"><%= @question.votes.count %></p>
        <p class="text-center votes">votes</p>
      </div>
      <div class="col-sm-1">
        <p class="text-center answers"><%= @question.answers.count %></p>
        <p class="text-center answers">answers</p>
      </div>
    </div>
  </div>
</div>