<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <% @questions.each do |question| %>
        <%= erb :_questions_all, layout: false %>
      <% end %>
    </div>
  </div>
</div>
